<!DOCTYPE html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>HEMPON GROUP </title>
  <link rel="icon" type="image/x-icon" href="/favicon.png">
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Place favicon.ico in the root directory -->

  <!-- ========================= CSS here ========================= -->
  <link rel="stylesheet" href="assets/css/bootstrap-5.0.0-beta1.min.css" />
  <link rel="stylesheet" href="assets/css/LineIcons.2.0.css" />
  <link rel="stylesheet" href="assets/css/tiny-slider.css" />
  <link rel="stylesheet" href="assets/css/animate.css" />
  <link rel="stylesheet" href="assets/css/lindy-uikit.css" />
  <link rel="stylesheet" href="assets/css/add.css" />
</head>

<body>
  <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

  <!-- ========================= preloader start ========================= -->
  <div class="preloader">
    <div class="loader">
      <div class="spinner">
        <div class="spinner-container">
          <div class="spinner-rotator">
            <div class="spinner-left">
              <div class="spinner-circle"></div>
            </div>
            <div class="spinner-right">
              <div class="spinner-circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ========================= preloader end ========================= -->

  <!-- ========================= hero-section-wrapper-5 start ========================= -->
  <section id="home" class="hero-section-wrapper-5">

    <!-- ========================= header-6 start ========================= -->
    <header class="header header-6">
      <div class="navbar-area">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#home">
                  <img src="assets/img/logo/logo.svg" alt="HEMPON GROUP " />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent6" aria-controls="navbarSupportedContent6"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent6">
                  <ul id="nav6" class="navbar-nav ms-auto">
                    <li class="nav-item">
                      <a class="page-scroll active" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#feature">Feature</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#about">About</a>
                    </li>

                    <li class="nav-item">
                      <a class="page-scroll" href="#pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                  </ul>
                </div>

                <div class="header-action d-flex">
                  <a href="https://www.instagram.com/hempongroup/"> <i class="lni lni-instagram-filled"></i> </a>
                  <!-- <a href="#0"> <i class="lni lni-cart"></i> </a>
                  <a href="#0"> <i class="lni lni-alarm"></i> </a> -->
                </div>
                <!-- navbar collapse -->
              </nav>
              <!-- navbar -->
            </div>
          </div>
          <!-- row -->
        </div>
        <!-- container -->
      </div>
      <!-- navbar area -->
    </header>
    <!-- ========================= header-6 end ========================= -->

    <!-- ========================= hero-5 start ========================= -->
    <div class="hero-section hero-style-5 img-bg" style="background-image: url('assets/img/hero/hero-5/hero-bg.svg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="hero-content-wrapper">
              <h2 class="mb-30 wow fadeInUp" data-wow-delay=".2s">Your Idea Matters!</h2>
              <p class="mb-30 wow fadeInUp" data-wow-delay=".4s">
                Welcome to HEMPON GROUP – Your Website Creation Partner</p>

              <p class="mb-30 wow fadeInUp" data-wow-delay=".4s">
                Are you ready to turn your website ideas into reality? Look no further! As a skilled web designer and
                developer, I’m here to empower you to create stunning websites that captivate your audience. With my
                expertise and your vision, we can bring your online presence to life.</p>
              <a href="#contact" class="button button-lg radius-50 wow fadeInUp" data-wow-delay=".6s">Get Started <i
                  class="lni lni-chevron-right"></i> </a>
            </div>
          </div>
          <div class="col-lg-6 align-self-end">
            <div class="hero-image wow fadeInUp" data-wow-delay=".5s">
              <img src="assets/img/hero/hero-5/hero-img.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ========================= hero-5 end ========================= -->

  </section>
  <!-- ========================= hero-section-wrapper-6 end ========================= -->

  <!-- ========================= feature style-5 start ========================= -->
  <section id="feature" class="feature-section feature-style-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-8">
          <div class="section-title text-center mb-60">
            <h3 class="mb-15 wow fadeInUp" data-wow-delay=".2s"> Why choose HEMPON GROUP? </h3>
            <p class="wow fadeInUp" data-wow-delay=".4s">Because I understand that your website is more than just a
              digital address. It’s an extension of your brand, a platform to showcase your products or services, and a
              gateway to connect with your audience. I am dedicated to crafting websites that not only look great but
              also drive results.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
            <div class="icon">
              <i class="lni lni-vector"></i>
              <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z"
                  fill="#EBF4FF" />
              </svg>
            </div>
            <div class="content">
              <h5>Local Business</h5>
              <p> we understand the unique needs of local businesses like yours. We specialize in creating custom
                websites that showcase your brand, attract local customers, and drive growth in your community.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
            <div class="icon">
              <i class="lni lni-pallet"></i>
              <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z"
                  fill="#EBF4FF" />
              </svg>
            </div>
            <div class="content">
              <h5>Online Store</h5>
              <p>Maximize your online sales potential with our robust e-commerce solutions. From product listings and
                secure payment gateways to inventory management and order tracking, we’ll help you create a seamless
                shopping experience for your customers</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
            <div class="icon">
              <i class="lni lni-stats-up"></i>
              <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z"
                  fill="#EBF4FF" />
              </svg>
            </div>
            <div class="content">
              <h5> Blogging</h5>
              <p>HEMPON GROUP is here to help you create a captivating blog that resonates with your readers and
                establishes your online presence.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
            <div class="icon">
              <i class="lni lni-code-alt"></i>
              <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z"
                  fill="#EBF4FF" />
              </svg>
            </div>
            <div class="content">
              <h5>Portfolio</h5>
              <p>Your portfolio is a reflection of your skills, creativity, and unique style. We
                specialize in creating stunning portfolio websites that leave a lasting impression on clients,
                employers, and collaborators.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
            <div class="icon">
              <i class="lni lni-lock"></i>
              <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z"
                  fill="#EBF4FF" />
              </svg>
            </div>
            <div class="content">
              <h5>Best Security</h5>
              <p>Our websites include SSL encryption, secure coding, malware protection, and regular updates to
                safeguard your business and customer data from potential threats.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
            <div class="icon">
              <i class="lni lni-code"></i>
              <svg width="110" height="72" viewBox="0 0 110 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M110 54.7589C110 85.0014 85.3757 66.2583 55 66.2583C24.6243 66.2583 0 85.0014 0 54.7589C0 24.5164 24.6243 0 55 0C85.3757 0 110 24.5164 110 54.7589Z"
                  fill="#EBF4FF" />
              </svg>
            </div>
            <div class="content">
              <h5>Web Design</h5>
              <p>We create visually appealing, responsive, and fast-loading websites tailored to your brand, ensuring a
                seamless experience across all devices and optimized for search engines to drive traffic and results.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- ========================= feature style-5 end ========================= -->

  <!-- ========================= about style-4 start ========================= -->
  <section id="about" class="about-section about-style-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-5 col-lg-6">
          <div class="about-content-wrapper">
            <div class="section-title mb-30">
              <h3 class="mb-25 wow fadeInUp" data-wow-delay=".2s">We help teams build the business of their dreams</h3>
              <p class="wow fadeInUp" data-wow-delay=".3s">
                When you choose HEMPON GROUP, you’re not just hiring a web design service—you’re forming a partnership
                with a team
                of dedicated professionals who are genuinely invested in your success. We pride ourselves on delivering
                not only
                exceptional websites but also an experience that goes above and beyond your expectations.
              </p>
            </div>
            <p class="wow fadeInUp" data-wow-delay=".35s">Here’s what sets us apart:</p>
            <ul>
              <li class="wow fadeInUp" data-wow-delay=".4s">
                <i class="lni lni-checkmark-circle"></i>
                <strong>Shared Goals and Vision</strong><br>
                We align our efforts with your business objectives, ensuring the website reflects your brand and
                resonates with your audience.
              </li>
              <li class="wow fadeInUp" data-wow-delay=".45s">
                <i class="lni lni-checkmark-circle"></i>
                <strong>Knowledge Sharing and Training</strong><br>
                Our team empowers you with the tools and knowledge to manage and maximize your website’s potential
                post-launch.
              </li>
              <li class="wow fadeInUp" data-wow-delay=".5s">
                <i class="lni lni-checkmark-circle"></i>
                <strong>Focus on Quality Assurance</strong><br>
                Every project undergoes rigorous testing to guarantee flawless performance, user experience, and
                compatibility.
              </li>
              <li class="wow fadeInUp" data-wow-delay=".55s">
                <i class="lni lni-checkmark-circle"></i>
                <strong>Feedback and Recognition</strong><br>
                Your input is our driving force. We actively listen to your feedback and recognize the value of
                collaboration in achieving success.
              </li>
              <li class="wow fadeInUp" data-wow-delay=".6s">
                <i class="lni lni-checkmark-circle"></i>
                <strong>Customized Solutions</strong><br>
                We tailor every website to your unique needs, combining creativity with functionality to deliver a truly
                bespoke product.
              </li>
              <li class="wow fadeInUp" data-wow-delay=".65s">
                <i class="lni lni-checkmark-circle"></i>
                <strong>Timely Delivery and Support</strong><br>
                We respect your timelines and ensure seamless support throughout and after the project.
              </li>
            </ul>
            <p class="wow fadeInUp" data-wow-delay=".7s">
              With HEMPON GROUP, you’re not just getting a website—you’re gaining a partner committed to your growth and
              success.
            </p>
            <a href="#contact" class="button button-lg radius-10 wow fadeInUp" data-wow-delay=".75s">Get in touch</a>
          </div>

        </div>
        <div class="col-xl-7 col-lg-6">
          <div class="about-image text-lg-right wow fadeInUp" data-wow-delay=".5s">
            <img src="assets/img/about/about-4/about-img.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ========================= about style-4 end ========================= -->

  <!-- ========================= pricing style-4 start ========================= -->
  <section id="pricing" class="pricing-section pricing-style-4 bg-light">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-5 col-lg-6">
          <div class="section-title mb-60">
            <h3 class="mb-15 wow fadeInUp" data-wow-delay=".2s">Pricing Plan</h3>
            <p class="wow fadeInUp" data-wow-delay=".4s">Contact us today and experience the passion, professionalism
              and reliable support that sets us apart. Let’s create a website that represents your unique vision and
              helps you achieve your online goals.</p>
          </div>
        </div>
        <div class="col-xl-7 col-lg-6">
          <div class="pricing-active-wrapper wow fadeInUp" data-wow-delay=".4s">
            <div class="pricing-active">
              <div class="single-pricing-wrapper">
                <div class="single-pricing">
                  <h6>Basic Design</h6>
                  <h4>Web Design</h4>
                  <h3>Kes 20K - 100K</h3>
                  <ul>
                    <li>One (1) pager = Kes 15K</li>
                    <li>Upto 5 pages = Kes 25K</li>
                    <li>Upto 10 Pages = Kes 35K</li>
                    <li>Upto 20 pages = Kes 75K</li>
                    <li>Blog website = Kes 15K</li>
                    <li>Landing Page = Kes 20K</li>

                  </ul>
                  <a href="#contact" class="button radius-30">Get Started</a>
                </div>
              </div>
              <div class="single-pricing-wrapper">
                <div class="single-pricing">
                  <h6>Ecommerce Web Design</h6>
                  <h4>Ecommerce Web Development</h4>
                  <h3>Kes 40K - 250K</h3>
                  <ul>
                    <li>Ecommerce Tools</li>
                    <li>Order Management System </li>
                    <li>Payment Integration</li>
                    <li>Technical Support</li>
                  </ul>
                  <a href="#contact" class="button radius-30">Get Started</a>
                </div>
              </div>
              <div class="single-pricing-wrapper">
                <div class="single-pricing">
                  <h6>Custom Design</h6>
                  <h4>Custom Web Development</h4>
                  <h3>Ksh 100K+</h3>
                  <ul>
                    <li>Carefully crafted components</li>
                    <li>Amazing pages</li>
                    <li>Changes on the go</li>
                    <li>Technical Support</li>
                  </ul>
                  <a href="#contact" class="button radius-30">Get Started</a>
                </div>
              </div>
              <div class="single-pricing-wrapper">
                <div class="single-pricing">
                  <h6>Web Design</h6>
                  <h4>Prices Inclusive of:-</h4>
                  <h3>All</h3>
                  <ul>
                    <li>Domain Registration</li>
                    <li>Website Hosting</li>
                    <li>Unlimited business Emails</li>
                    <li>Technical Support</li>
                    <li>SSL Certificate</li>
                    <li>On-page basic SEO</li>
                  </ul>
                  <a href="#contact" class="button radius-30">Get Started</a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ========================= pricing style-4 end ========================= -->

  <!-- ========================= contact-style-3 start ========================= -->
  <section id="contact" class="contact-section contact-style-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-5 col-xl-5 col-lg-7 col-md-10">
          <div class="section-title text-center mb-50">
            <h3 class="mb-15">Get a professional website today</h3>
            <p>Stop wasting time and money. Get a professional website today, Happiness guaranteed!</p>
          </div>
        </div>
      </div>
      <div class="feedback">
        <% if (query.error) { %>
          <div class="alert alert-danger">
            <% if (query.error==="missing-fields" ) { %>
              Please fill in all required fields.
              <% } else if (query.error==="email-failed" ) { %>
                Failed to send your message. Please try again later.
                <% } %>
          </div>
          <% } %>

            <% if (query.success) { %>
              <div class="alert alert-success">
                Your message was sent successfully. Thank you for contacting us!
              </div>
              <% } %>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="contact-form-wrapper">
            <form action="/contact" method="POST">
              <div class="row">
                <div class="col-md-6">
                  <div class="single-input">
                    <input type="text" id="name" name="name" class="form-input" placeholder="Name">
                    <i class="lni lni-user"></i>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-input">
                    <input type="email" id="email" name="email" class="form-input" placeholder="Email">
                    <i class="lni lni-envelope"></i>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-input">
                    <input type="text" id="number" name="number" class="form-input" placeholder="Number">
                    <i class="lni lni-phone"></i>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-input">
                    <input type="text" id="subject" name="subject" class="form-input" placeholder="Subject">
                    <i class="lni lni-text-format"></i>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="single-input">
                    <textarea name="message" id="message" class="form-input" placeholder="Message" rows="6"></textarea>
                    <i class="lni lni-comments-alt"></i>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-button">
                    <button type="submit" class="button"> <i class="lni lni-telegram-original"></i> Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div>

        <div class="col-lg-4">
          <div class="left-wrapper">
            <div class="row">
              <div class="col-lg-12 col-md-6">
                <div class="single-item">
                  <div class="icon">
                    <i class="lni lni-phone"></i>
                  </div>
                  <div class="text">
                    <p>+254711879129</p>
                    <p>+254738219953</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-6">
                <div class="single-item">
                  <div class="icon">
                    <i class="lni lni-envelope"></i>
                  </div>
                  <div class="text">
                    <p>info@hempongroup.co.ke</p>
                    <p>admin@hempongroup.co.ke</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-6">
                <div class="single-item">
                  <div class="icon">
                    <a href="https://maps.app.goo.gl/69WVyjyQaKheYG866"> <i class="lni lni-map-marker"></i> </a>
                  </div>
                  <div class="text">
                    <p> Mombasa, Kenya</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ========================= contact-style-3 end ========================= -->

  <!-- ========================= clients-logo start ========================= -->
  <!-- <section class="clients-logo-section pt-100 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="client-logo wow fadeInUp" data-wow-delay=".2s">
            <img src="assets/img/clients/brands.svg" alt="" class="w-100">
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- ========================= clients-logo end ========================= -->

  <!-- ========================= footer style-4 start ========================= -->
  <footer class="footer footer-style-4">
    <div class="container">
      <div class="widget-wrapper">
        <div class="row">


          <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6 col-sm-6">
            <div class="footer-widget wow fadeInUp" data-wow-delay=".3s">
              <h6>Quick Link</h6>
              <ul class="links">
                <li> <a href="#home">Home</a> </li>
                <li> <a href="#about">About</a> </li>
                <li> <a href="#pricing">Service</a> </li>
                <li> <a href="#feature">Feature</a> </li>
                <li> <a href="#contact">Contact</a> </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <div class="footer-widget wow fadeInUp" data-wow-delay=".4s">
              <h6>Services</h6>
              <ul class="links">
                <li> <a href="#pricing">Web Design</a> </li>
                <li> <a href="#pricing">Web Development</a> </li>
                <li> <a href="#pricing">Seo Optimization</a> </li>
                <li> <a href="#pricing">Blog Writing</a> </li>
              </ul>
            </div>
          </div>
          <!-- <div class="col-xl-3 col-lg-3 col-md-6">
            <div class="footer-widget wow fadeInUp" data-wow-delay=".5s">
              <h6>Download App</h6>
              <ul class="download-app">
                <li>
                  <a href="#0">
                    <span class="icon"><i class="lni lni-apple"></i></span>
                    <span class="text">Download on the <b>App Store</b> </span>
                  </a>
                </li>
                <li>
                  <a href="#0">
                    <span class="icon"><i class="lni lni-play-store"></i></span>
                    <span class="text">GET IT ON <b>Play Store</b> </span>
                  </a>
                </li>
              </ul>
            </div>
          </div> -->
        </div>
      </div>
      
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="footer-widget wow fadeInUp" data-wow-delay=".2s">
          <!-- <div class="logo">
            <a href="#home"> <img src="assets/img/logo/logo.svg" alt="Hempon Group"> </a>
          </div>
          <p class="desc">Sit back and enjoy your journey</p> -->
          <ul class="socials">
            <li> <a href="#0"> <i class="lni lni-facebook-filled"></i> </a> </li>
            <li> <a href="#0"> <i class="lni lni-twitter-filled"></i> </a> </li>
            <li> <a href="https://www.instagram.com/hempongroup/"> <i class="lni lni-instagram-filled"></i> </a>
            </li>
            <li> <a href="#0"> <i class="lni lni-linkedin-original"></i> </a> </li>
          </ul>
        </div>
      </div>
      <div class="copyright-wrapper wow fadeInUp" data-wow-delay=".2s">
        <p>Copyright © 2024 Hempon Group</p>
      </div>
    </div>
  </footer>
  <!-- ========================= footer style-4 end ========================= -->

  <!-- ========================= footer style-4 end ========================= -->

  <!-- ========================= scroll-top start ========================= -->
  <a href="#" class="scroll-top"> <i class="lni lni-chevron-up"></i> </a>
  <!-- ========================= scroll-top end ========================= -->


  <!-- ========================= JS here ========================= -->
  <script src="assets/js/bootstrap-5.0.0-beta1.min.js"></script>
  <script src="assets/js/tiny-slider.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>